<footer class="footer-wrapper">
            
                <div class="main-footer">
                
                    <div class="container">
                    
                        <div class="row">
                        
                            <div class="col-sm-12 col-md-9">
                            
                                <div class="row">
                                
                                    <div class="col-sm-6 col-md-4">
                                    
                                        <div class="footer-about-us">
                                            <h5 class="footer-title">about einterviews</h5>
                                            <p>Sudden looked elinor off gay estate nor silent. Son read such next see the rest two. Was use extent old entire sussex...</p>
                                            <a href="index-03.html#">read more</a>
                                        </div>

                                    </div>
                                    
                                    <div class="col-sm-6 col-md-5 mt-30-xs">
                                        <h5 class="footer-title">quick links</h5>
                                        <ul class="footer-menu clearfix">
                                            <li><a href="index-03.html#">Local Jobs</a></li>
                                            <li><a href="index-03.html#">Company Directory</a></li>
                                            <li><a href="index-03.html#">Browse Jobs</a></li>
                                            <li><a href="index-03.html#">Salary Estimator</a></li>
                                            <li><a href="index-03.html#">Success Stories</a></li>
                                            <li><a href="index-03.html#">Help</a></li>
                                            <li><a href="index-03.html#">Post a Job</a></li>
                                            <li><a href="index-03.html#">Employer Login</a></li>
                                            <li><a href="index-03.html#">Publisher</a></li>
                                            <li><a href="index-03.html#">Include My Jobs</a></li>
                                        </ul>
                                    
                                    </div>

                                </div>

                            </div>
                            
                            <div class="col-sm-12 col-md-3 mt-30-sm">
                            
                                <h5 class="footer-title">newsletter</h5>
                                
                                <p>Subsribe to get our latest updates and oeffers</p>
                                
                                <div class="footer-newsletter">
                                    
                                    <div class="form-group">
                                        <input class="form-control" placeholder="enter your email " />
                                        <button class="btn btn-primary">subsribe</button>
                                    </div>
                                    
                                    <p class="font-italic font13">*** Don't worry, we wont spam you!</p>
                                
                                </div>

                            </div>

                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="bottom-footer">
                
                    <div class="container">
                    
                        <div class="row">
                        
                            <div class="col-sm-4 col-md-4">
                    
                                <p class="copy-right">&#169; Copyright 2021 einterviews.in</p>
                                
                            </div>
                            
                            <div class="col-sm-4 col-md-4">
                            
                                <ul class="bottom-footer-menu">
                                    <li><a href="index-03.html#">Cookies</a></li>
                                    <li><a href="index-03.html#">Policies</a></li>
                                    <li><a href="index-03.html#">Terms</a></li>
                                    <li><a href="index-03.html#">Blogs</a></li>
                                </ul>
                            
                            </div>
                            
                            <div class="col-sm-4 col-md-4">
                                <ul class="bottom-footer-menu for-social">
                                    <li><a href="index-03.html#"><i class="ri ri-twitter" data-toggle="tooltip" data-placement="top" title="twitter"></i></a></li>
                                    <li><a href="index-03.html#"><i class="ri ri-facebook" data-toggle="tooltip" data-placement="top" title="facebook"></i></a></li>
                                    <li><a href="index-03.html#"><i class="ri ri-google-plus" data-toggle="tooltip" data-placement="top" title="google plus"></i></a></li>
                                    <li><a href="index-03.html#"><i class="ri ri-youtube-play" data-toggle="tooltip" data-placement="top" title="youtube"></i></a></li>
                                </ul>
                            </div>
                        
                        </div>

                    </div>
                    
                </div>
            
            </footer>