<div class="wrap" role="document">
  
    <div class="content">

        <div class="inner-container">
    
                <div id="error" class="page-content-wrapper">
                    <div class="page-content">
                        <h1 class="page-title"> Wrong Turn
                            <small>page not available</small>
                        </h1>
                        <div class="row">
                            <div class="col-md-12 page-404">
                                <div class="number font-green"> 404 </div>
                                <div class="details">
                                    <h3>Oops! You're lost.</h3>
                                    <p> We can not find the page you're looking for.
                                        <br/>
                                        <a href="/"> Return home </a> or try something else. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>