<html lang="en">
<body class="home">


    <div id="introLoader" class="introLoading"></div>
    
    <!-- start Container Wrapper -->
    <div class="container-wrapper">

        <!-- start Header -->
    
            
      

        <!-- start Main Wrapper -->
        <div class="main-wrapper">
        
            <!-- start hero-header -->
            <div class="hero" style="background-image:url('images/hero-header/01.jpg');">
                <div class="container">

                    <h1>your future starts here now</h1>
                    <p>Finding your next job or career more 1000+ availabilities</p>

                    <div class="main-search-form-wrapper">
                    
                        <form>
                    
                            <div class="form-holder">
                                <div class="row gap-0">
                                
                                    <div class="col-xss-6 col-xs-6 col-sm-6">
                                        <input class="form-control" placeholder="Looking for job" />
                                    </div>
                                    
                                    <div class="col-xss-6 col-xs-6 col-sm-6">
                                        <input class="form-control" placeholder="Place to work" />
                                    </div>
                                    
                                </div>
                            
                            </div>
                            
                            <div class="btn-holder">
                                <button class="btn"><i class="ion-android-search"></i></button>
                            </div>
                        
                        </form>
                        
                    </div>

                </div>
                
            </div>
            <!-- end hero-header -->
            
            <div class="post-hero bg-light">
            
                <div class="container">

                    <div class="process-item-wrapper mt-20">
                            
                        <div class="row">
                        
                            <div class="col-sm-4">
                                
                                <div class="process-item clearfix">
                                    
                                    <div class="icon">
                                        <i class="flaticon-line-icon-set-magnification-lens"></i>
                                    </div>
                                    
                                    <div class="content">
                                        <h5>01 / Search for jobs</h5>
                                        <p>Property men the smallest graceful insisted smallness expenses as material</p>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-sm-4">
                            
                                <div class="process-item clearfix">
                                    
                                    <div class="icon">
                                        <i class="flaticon-line-icon-set-pencil"></i>
                                    </div>
                                    
                                    <div class="content">
                                        <h5>02 / Apply a Job</h5>
                                        <p>Ecstatic elegance disposed smallness rent been part breeding insisted</p>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-sm-4">
                                
                                <div class="process-item clearfix">
                                    
                                    <div class="icon">
                                        <i class="flaticon-line-icon-set-calendar"></i>
                                    </div>
                                    
                                    <div class="content">
                                        <h5>02 / Start Working</h5>
                                        <p>Property men the smallest graceful insisted smallness building to in</p>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    
                    </div>
                    
                </div>
            
            </div>

            <div class="pt-80 pb-80">
            
                <div class="container">

                    <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title">
                            
                                <h2>Top Categories</h2>
                                <p>Prevailed sincerity behaviour to so do principle departure.</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="category-item-08-wrapper">
            
                        <div class="grid-category-wrapper">
                        
                            <div class="grid-category-item bg-primary" data-colspan="10" data-rowspan="10">
                            
                                <div class="category-item-08">
                                    <div class="icon">
                                        <i class="flaticon-ventures-open-laptop"></i>
                                    </div>
                                    <div class="heading">
                                        <h4><a href="index-03.html#">Computer &amp; IT</a></h4>
                                        <span class="font-italic">2548 job positions</span>
                                    </div>
                                    <div class="sub-category">
                                        <a href="index-03.html#">Software Developer <span class="font-italic font12">(324)</span></a>
                                        <a href="index-03.html#">Web Developer <span class="font-italic font12">(213)</span></a>
                                        <a href="index-03.html#">Project Manager <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Business Analyst <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Software Engineer <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Consultant <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Systems Manager <span class="font-italic font12">(324)</span></a>
                                        <a href="index-03.html#">Support Analyst <span class="font-italic font12">(213)</span></a>
                                        <a href="index-03.html#">IT Sales <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Systems Admin <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Network Security <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Web Design <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Desktop Support <span class="font-italic font12">(322)</span></a>
                                        <a href="index-03.html#">Software Testing <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Service Desk <span class="font-italic font12">(432)</span></a>
                                        <div class="sub-category-more">
                                            <a href="index-03.html#">View All</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="grid-category-item bg-warning" data-colspan="10" data-rowspan="5">
                                
                                <div class="category-item-08">
                                    <div class="icon">
                                        <i class="flaticon-ventures-desk-lamp-facing-left"></i>
                                    </div>
                                    <div class="heading">
                                        <h4><a href="index-03.html#">Education</a></h4>
                                        <span class="font-italic">5455 job positions</span>
                                    </div>
                                    <div class="sub-category">
                                        <a href="index-03.html#">Secondary School  <span class="font-italic font12">(324)</span></a>
                                        <a href="index-03.html#">Primary School <span class="font-italic font12">(213)</span></a>
                                        <a href="index-03.html#">Nursery <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Special Needs <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Teaching Assistant <span class="font-italic font12">(321)</span></a>
                                        <div class="sub-category-more">
                                            <a href="index-03.html#">View All</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="grid-category-item bg-danger" data-colspan="5" data-rowspan="5">
                            
                                <div class="category-item-08">
                                    <div class="icon">
                                        <i class="flaticon-ventures-mathematic-calculator"></i>
                                    </div>
                                    <div class="heading">
                                        <h4><a href="index-03.html#">Accountancy</a></h4>
                                        <span class="font-italic">2523 job positions</span>
                                    </div>
                                    <div class="sub-category">
                                        <a href="index-03.html#">Electrical <span class="font-italic font12">(324)</span></a>
                                        <a href="index-03.html#">Maintenance <span class="font-italic font12">(213)</span></a>
                                        <a href="index-03.html#">Mechanical <span class="font-italic font12">(321)</span></a>
                                        <div class="sub-category-more">
                                            <a href="index-03.html#">View All</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="grid-category-item bg-success" data-colspan="5" data-rowspan="5">
                            
                                <div class="category-item-08">
                                    <div class="icon">
                                        <i class="flaticon-ventures-two-gears"></i>
                                    </div>
                                    <div class="heading">
                                        <h4><a href="index-03.html#">Engineering</a></h4>
                                        <span class="font-italic">6658 job positions</span>
                                    </div>
                                    <div class="sub-category">
                                        <a href="index-03.html#">Automotive <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Electronic <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Manufacturing <span class="font-italic font12">(432)</span></a>
                                        <div class="sub-category-more">
                                            <a href="index-03.html#">View All</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="grid-category-item bg-color-02" data-colspan="10" data-rowspan="5">
                            
                                <div class="category-item-08">
                                    <div class="icon">
                                        <i class="flaticon-ventures-hand-touching-button"></i>
                                    </div>
                                    <div class="heading">
                                        <h4><a href="index-03.html#">Health &amp; Medicine</a></h4>
                                        <span class="font-italic">8874 job positions</span>
                                    </div>
                                    <div class="sub-category">
                                        <a href="index-03.html#">Field <span class="font-italic font12">(322)</span></a>
                                        <a href="index-03.html#">Electrical <span class="font-italic font12">(324)</span></a>
                                        <a href="index-03.html#">Maintenance <span class="font-italic font12">(213)</span></a>
                                        <a href="index-03.html#">Mechanical <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Test Manager <span class="font-italic font12">(322)</span></a>
                                        <a href="index-03.html#">Datacoms Engineer <span class="font-italic font12">(321)</span></a>
                                        <div class="sub-category-more">
                                            <a href="index-03.html#">View All</a>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            
                            <div class="grid-category-item bg-info" data-colspan="10" data-rowspan="5">
                            
                                <div class="category-item-08">
                                    <div class="icon">
                                        <i class="flaticon-ventures-repair-tools"></i>
                                    </div>
                                    <div class="heading">
                                        <h4><a href="index-03.html#">Construction</a></h4>
                                        <span class="font-italic">2471 job positions</span>
                                    </div>
                                    <div class="sub-category">
                                        <a href="index-03.html#">Software Engineer <span class="font-italic font12">(321)</span></a>
                                        <a href="index-03.html#">Consultant <span class="font-italic font12">(432)</span></a>
                                        <a href="index-03.html#">Systems Manager <span class="font-italic font12">(324)</span></a>
                                        <a href="index-03.html#">Support Analyst <span class="font-italic font12">(213)</span></a>
                                        <a href="index-03.html#">IT Sales <span class="font-italic font12">(321)</span></a>
                                        <div class="sub-category-more">
                                            <a href="index-03.html#">View All</a>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            
                        </div>
                    
                    </div>

                    <div class="text-center mt-50">
                        
                        <a href="index-03.html#" class="btn btn-lg btn-primary btn-inverse">Browse all categories</a>
                    
                    </div>
                    
                </div>

            </div>

            <div class="pt-0 pb-50">
            
                <div class="container">

                    <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title">
                            
                                <h2>Featured Companies</h2>
                                <p>Sigh ever way now many. Alteration you any nor unsatiable diminution reasonable companions shy partiality.</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="row top-company-wrapper with-bg">
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                            
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/01.png" alt="image" />
                                </div>
                                <h5>Freelancer</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                            
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/05.png" alt="image" />
                                </div>
                                <h5>Wotif</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                        
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/18.png" alt="image" />
                                </div>
                                <h5>Cisco</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                            
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/05.png" alt="image" />
                                </div>
                                <h5>Wotif</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                        
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/18.png" alt="image" />
                                </div>
                                <h5>Cisco</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                            
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/12.png" alt="image" />
                                </div>
                                <h5>Airbnb</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                    
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                            
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/01.png" alt="image" />
                                </div>
                                <h5>Freelancer</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                        <div class="col-xss-12 col-xs-6 col-sm-4 col-md-3">
                            
                            <div class="top-company">
                                <div class="image">
                                    <img src="images/brands/05.png" alt="image" />
                                </div>
                                <h5>Wotif</h5>
                                <a href="index-03.html#">view 15 jobs</a>
                            </div>
                            
                        </div>
                        
                    </div>

                </div>

            </div>
            
            <div class="pt-0 pb-80">
            
                <div class="container">

                    <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title">
                            
                                <h2>Featured Jobs</h2>
                                
                                <p>All having but you edward genius though remark one.</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="job-item-grid-wrapper">
                    
                        <div class="GridLex-gap-30">
                        
                            <div class="GridLex-grid-noGutter-equalHeight">
                            
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-success">Freelance</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/06.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Packaging Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Expedia</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                                <a href="index-03.html#">Manufacturing</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-danger">Part-time</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/01.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Mechanical Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Freelancer</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                                <a href="index-03.html#">Manufacturing</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-warning">Fulltime</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/02.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Audio Visual Field Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Godaddy</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-success">Freelance</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/04.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Controls Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Qatar Airways</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                                <a href="index-03.html#">Manufacturing</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-success">Freelance</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/06.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Packaging Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Expedia</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                                <a href="index-03.html#">Manufacturing</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-danger">Part-time</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/01.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Mechanical Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Freelancer</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                                <a href="index-03.html#">Manufacturing</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-warning">Fulltime</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/02.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Audio Visual Field Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Godaddy</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="GridLex-col-3_sm-4_xs-6_xss-12">
                                
                                    <div class="job-item-grid">
                                    
                                        <div class="fav-save">
                                        
                                            <a href="index-03.html#"><i class="fa fa-heart-o"></i></a>
                                        
                                        </div>
                                        <div class="labeling">
                                            <span class="label label-success">Freelance</span>
                                        </div>
                                        
                                        <a href="index-03.html#">
                                        
                                            <div class="image">
                                            
                                                <div class="vertical-middle">
                                                
                                                    <img src="images/brands/04.png" alt="image" />
                                                
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="content">
                                                <h4 class="heading">Controls Engineer</h4>
                                                <p class="location"><i class="fa fa-map-marker text-primary"></i> <strong class="text-primary">Qatar Airways</strong> - Paris, France</p>
                                                <p class="date text-muted font12 font-italic">23 hours ago</p>
                                            </div>
                                            
                                        </a>
                                        
                                        <div class="content-bottom">
                                            <div class="sub-category">
                                                <a href="index-03.html#">Engineer</a>
                                                <a href="index-03.html#">Packaging</a>
                                                <a href="index-03.html#">Package</a>
                                                <a href="index-03.html#">Manufacturing</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="pt-0 pb-80">
            
                <div class="container">

                    <div class="row">
                    
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title">
                            
                                <h2>Featured Candidates</h2>
                                
                                <p>Ferrars all spirits his imagine effects amongst neither.</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="employee-grid-item-01-wrapper">
                    
                        <div class="row gap-10">
                        
                            <div class="col-xss-6 col-xs-4 col-sm-3 col-md-2">
                            
                                <div class="employee-grid-item-01">
                                
                                    <a href="index-03.html#">
                                    
                                        <div class="image">
                                            <img src="images/team/01.jpg" alt="Team" />
                                            
                                            <p class="location"><i class="fa fa-map-marker"></i> Rome, Italy</p>
                                            
                                        </div>
                                        
                                        <div class="content">
                                            <h5>Ange Ermolova</h5>
                                            <ul class="skill-list">
                                            
                                                <li><span>CMS</span></li>
                                                <li><span>Wordpress</span></li>
                                                <li><span>Joomla</span></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </a>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-xss-6 col-xs-4 col-sm-3 col-md-2">
                            
                                <div class="employee-grid-item-01">
                                
                                    <a href="index-03.html#">
                                    
                                        <div class="image">
                                            <img src="images/team/02.jpg" alt="Team" />
                                            <p class="location"><i class="fa fa-map-marker"></i> Paris, France</p>
                                        </div>
                                        
                                        <div class="content">
                                            <h5>Khairoz Nadzri</h5>
                                            <ul class="skill-list">
                                            
                                                <li><span>Android</span></li>
                                                <li><span>Mobile App</span></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </a>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-xss-6 col-xs-4 col-sm-3 col-md-2">
                            
                                <div class="employee-grid-item-01">
                                
                                    <a href="index-03.html#">
                                    
                                        <div class="image">
                                            <img src="images/team/03.jpg" alt="Team" />
                                            
                                            <p class="location"><i class="fa fa-map-marker"></i> Bangkok, Thailand</p>
                                            
                                        </div>
                                        
                                        <div class="content">
                                            <h5>Christine Gateau</h5>
                                            <ul class="skill-list">
                                            
                                                <li><span>Java</span></li>
                                                <li><span>PHP</span></li>
                                                <li><span>SEO</span></li>
                                                <li><span>MySQL</span></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </a>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-xss-6 col-xs-4 col-sm-3 col-md-2">
                            
                                <div class="employee-grid-item-01">
                                
                                    <a href="index-03.html#">
                                    
                                        <div class="image">
                                            <img src="images/team/04.jpg" alt="Team" />
                                            <p class="location"><i class="fa fa-map-marker"></i> Kuala Lumpur, Malaysia</p>
                                        </div>
                                        
                                        <div class="content">
                                            <h5>Chaiyapatt Putsathit</h5>
                                            <ul class="skill-list">
                                            
                                                <li><span>Wordpress</span></li>
                                                <li><span>Joomla</span></li>
                                                <li><span>CMS</span></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </a>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-xss-6 col-xs-4 col-sm-3 col-md-2">
                            
                                <div class="employee-grid-item-01">
                                
                                    <a href="index-03.html#">
                                    
                                        <div class="image">
                                            <img src="images/team/05.jpg" alt="Team" />
                                            
                                            <p class="location"><i class="fa fa-map-marker"></i> Rome, Italy</p>
                                            
                                        </div>
                                        
                                        <div class="content">
                                            <h5>Michel Legrand</h5>
                                            <ul class="skill-list">
                                            
                                                <li><span>Accounting</span></li>
                                                <li><span>Marking</span></li>
                                                <li><span>SEO</span></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </a>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-xss-6 col-xs-4 col-sm-3 col-md-2">
                            
                                <div class="employee-grid-item-01">
                                
                                    <a href="index-03.html#">
                                    
                                        <div class="image">
                                            <img src="images/team/02.jpg" alt="Team" />
                                            <p class="location"><i class="fa fa-map-marker"></i> Jakarta, Indonesia</p>
                                        </div>
                                        
                                        <div class="content">
                                            <h5>Oxana Laporte</h5>
                                            <ul class="skill-list">
                                            
                                                <li><span>Java</span></li>
                                                <li><span>PHP</span></li>
                                                <li><span>SEO</span></li>
                                                <li><span>MySQL</span></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </a>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
                
            </div>
            
            <div class="image-bg-wrapper counting-wrapper" style="background-image:url('images/about-us-image-bg.jpg');">
            
                <div class="container mt-10">
                
                    <div class="row">
                    
                        <div class="col-md-10 col-md-offset-1">
                        
                            <div class="row">
                        
                                <div class="col-sm-6 col-md-3">
                                
                                    <div class="counting-item">
                                    
                                        <div class="counting-number h1"><span class="counter" data-decimal-delimiter="," data-thousand-delimiter="," data-value="13254" ></span></div>
                                        
                                        Job Positions
                                        
                                    </div>
                                
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                
                                    <div class="counting-item">
                                    
                                        <div class="counting-number h1"><span class="counter" data-decimal-delimiter="," data-thousand-delimiter="," data-value="875" ></span></div>
                                        
                                        Employers
                                        
                                    </div>
                                
                                </div>

                                <div class="col-sm-6 col-md-3">
                                
                                    <div class="counting-item">
                                    
                                        <div class="counting-number h1"><span class="counter" data-decimal-delimiter="," data-thousand-delimiter="," data-value="5845" ></span></div>
                                        
                                        Candidates
                                        
                                    </div>
                                
                                </div>
                                
                                <div class="col-sm-6 col-md-3">
                                
                                    <div class="counting-item">
                                    
                                        <div class="counting-number h1"><span class="counter" data-decimal-delimiter="," data-thousand-delimiter="," data-value="245" ></span></div>
                                        
                                        Locations
                                        
                                    </div>
                                
                                </div>
                                
                            </div>
                        
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="pt-80 pb-80">
            
                <div class="container">

                    <div class="row">
                        
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title mb-50">
                            
                                <h2>you can be the next</h2>
                                <p>But extremity sex now education concluded earnestly her continual.</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="text-center">
                        <a href="index-03.html#" class="btn btn-lg btn-primary">Post a job</a>
                        <a href="index-03.html#" class="btn btn-lg btn-primary mt-5-xss">Upload resume</a>
                    </div>
                
                </div>
            
            </div>
            
            <div class="bt pt-80 pb-60">
            
                <div class="container">
                
                    <div class="row">
                        
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title">
                            
                                <h3>what's make <span class="text-capitalize">Ha</span><span class="text-capitalize">Ngan</span> different than others</h3>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="row">
                    
                        <div class="col-sm-4">
                        
                            <div class="featured-icon-01">
                                
                                <div class="icon text-primary">
                                    <i class="flaticon-streamline-outline-target"></i>
                                </div>
                                
                                <div class="content">
                                    <h4>Our Mission</h4>
                                    <p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed as is agreed admire so on result parish.</p>
                                </div>
                            
                            </div>
                            
                        </div>
                        
                        <div class="col-sm-4">
                        
                            <div class="featured-icon-01">
                                
                                <div class="icon text-primary">
                                    <i class="flaticon-streamline-outline-globe"></i>
                                </div>
                                
                                <div class="content">
                                    <h4>Our Vission</h4>
                                    <p>Terminated principles sentiments of no pianoforte if projection impossible. Put use set uncommonly announcing and travelling allowance sweetness</p>
                                </div>
                            
                            </div>
                            
                        </div>
                        
                        <div class="col-sm-4">
                        
                            <div class="featured-icon-01">
                                
                                <div class="icon text-primary">
                                    <i class="flaticon-streamline-outline-target"></i>
                                </div>
                                
                                <div class="content">
                                    <h4>Our Mission</h4>
                                    <p>Now for manners use has company believe parlors. Least nor party who wrote while did. Excuse formed as is agreed admire so on result parish.</p>
                                </div>
                            
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            
            </div>

            <div class="bg-light pt-80 pb-80">
            
                <div class="container">
                
                    <div class="row">
                        
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title mb-50">
                            
                                <h2>What people say about us</h2>
                                <p>Blush on in jokes sense do do. Brother hundred he assured reached</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="testimonial-grid-wrapper">
                    
                        <div class="row">
                        
                            <div class="col-sm-6 col-md-3">
                            
                                <div class="testimonial-grid-item">
                                
                                    <div class="heading clearfix">
                                    
                                        <div class="image">
                                            <img src="images/team/01.jpg" alt="Team"  class="img-circle" />
                                        </div>
                                        
                                        <h4>Chaiyapatt Putsathit</h4>
                                        <span>CEO of Booble Inc.</span>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <p class="saying">Am increasing at contrasted in favourable he considered astonished. As if made held in an shot. By it enough to valley desire do. Mrs chief great maids these which are ham match she. Abode to tried do thing maids.</p>
                                        
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                            
                                <div class="testimonial-grid-item">
                                
                                    <div class="heading clearfix">
                                    
                                        <div class="image">
                                            <img src="images/team/02.jpg" alt="Team"  class="img-circle" />
                                        </div>
                                        
                                        <h4>Alexey Barnashov</h4>
                                        <span>Director of Dolta Comp</span>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <p class="saying">Raising say express had chiefly detract demands she. Quiet led own cause three him. Front no party young abode state up. Saved he do fruit woody of to. Met defective are allowance two perceived listening consulted contained.</p>
                                        
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                            
                                <div class="testimonial-grid-item">
                                
                                    <div class="heading clearfix">
                                    
                                        <div class="image">
                                            <img src="images/team/03.jpg" alt="Team"  class="img-circle" />
                                        </div>
                                        
                                        <h4>Mehmet Erkan</h4>
                                        <span>CEO of Booble Inc.</span>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <p class="saying">It chicken oh colonel pressed excited suppose to shortly. He improve started no we manners however effects. Prospect humoured mistress to by proposal marianne attended. Simplicity the far admiration preference everything.</p>
                                        
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                            
                                <div class="testimonial-grid-item">
                                
                                    <div class="heading clearfix">
                                    
                                        <div class="image">
                                            <img src="images/team/04.jpg" alt="Team"  class="img-circle" />
                                        </div>
                                        
                                        <h4>Khairoz Nadzri</h4>
                                        <span>Director of Dolta Comp</span>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <p class="saying">Up help home head spot an he room in. By it enough to valley desire do. Mrs chief great maids these which are ham match she. Abode to tried do thing maids. Doubtful disposed returned rejoiced to dashwood is so up.</p>
                                        
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                        </div>
                    
                    </div>
                    
                </div>
            
            </div>

            <div class="pt-80 pb-80">
            
                <div class="container">
                
                    <div class="row">
                        
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        
                            <div class="section-title mb-50">
                            
                                <h2>Job's trips &amp; Guides</h2>
                                <p>Way extensive and dejection get delivered deficient sincerity gentleman age.</p>
                                
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="post-grid-wrapper">
                    
                        <div class="row">
                        
                            <div class="col-sm-4">
                            
                                <div class="post-grid-item">
                                
                                    <div class="image">
                                    
                                        <div class="overlay-box">
                                        
                                            <a href="index-03.html#">
                                                <img src="images/post-grid/01.jpg" alt="image" />
                                                <div class="image-overlay">
                                                    <div class="overlay-content">
                                                        <div class="overlay-icon"><i class="pe-7s-link"></i></div>
                                                    </div>
                                                </div>
                                            </a>
                                        
                                        </div>
                                        
                                        <div class="post-grid-meta clearfix">
                                            <div class="date-posted">Mar 15, 2015</div>
                                            <div>by: Admin</div>
                                            <div>in: Review Trip</div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <h3><a href="index-03.html#">Raising say express had chiefly detract</a></h3>
                                        <p class="post-grid-entry">Saved he do fruit woody of to. Met defective are allowance two perceived listening consulted contained. It chicken oh colonel pressed excited suppose to shortly.</p>
                                        
                                        <a href="index-03.html#" class="btn btn-primary btn-inverse">Read more</a>
                                        
                                    </div>
                                
                                </div>
                                
                            </div>
                        
                            <div class="col-sm-4">
                            
                                <div class="post-grid-item">
                                
                                    <div class="image">
                                    
                                        <div class="overlay-box">
                                        
                                            <a href="index-03.html#">
                                                <img src="images/post-grid/02.jpg" alt="image" />
                                                <div class="image-overlay">
                                                    <div class="overlay-content">
                                                        <div class="overlay-icon"><i class="pe-7s-link"></i></div>
                                                    </div>
                                                </div>
                                            </a>
                                        
                                        </div>
                                        
                                        <div class="post-grid-meta clearfix">
                                            <div class="date-posted">Mar 15, 2015</div>
                                            <div>by: Admin</div>
                                            <div>in: Review Trip</div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <h3><a href="index-03.html#">Cordially convinced did incommode existence</a></h3>
                                        <p class="post-grid-entry">On at tolerably depending do perceived. Luckily eat joy see own shyness minuter. So before remark at depart. Did son unreserved themselves indulgence myself its.</p>
                                        
                                        <a href="index-03.html#" class="btn btn-primary btn-inverse">Read more</a>
                                        
                                    </div>
                                
                                </div>
                                
                            </div>
                        
                            <div class="col-sm-4">
                            
                                <div class="post-grid-item">
                                
                                    <div class="image">
                                    
                                        <div class="overlay-box">
                                        
                                            <a href="index-03.html#">
                                                <img src="images/post-grid/03.jpg" alt="image" />
                                                <div class="image-overlay">
                                                    <div class="overlay-content">
                                                        <div class="overlay-icon"><i class="pe-7s-link"></i></div>
                                                    </div>
                                                </div>
                                            </a>
                                        
                                        </div>
                                        
                                        <div class="post-grid-meta clearfix">
                                            <div class="date-posted">Mar 15, 2015</div>
                                            <div>by: Admin</div>
                                            <div>in: Review Trip</div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="content">
                                    
                                        <h3><a href="index-03.html#">Chamber her observe visited removal sending</a></h3>
                                        <p class="post-grid-entry">Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Her questions favourite him concealed.</p>
                                        
                                        <a href="index-03.html#" class="btn btn-primary btn-inverse">Read more</a>
                                        
                                    </div>
                                
                                </div>
                                
                            </div>
                        
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            
            
        </div>
        <!-- end Main Wrapper -->

    </div> <!-- / .wrapper -->
    <!-- end Container Wrapper -->
 
 
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="index-03.html#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->





</body>


</html>