<div class="wrap" role="document">
  
    <div class="content">

        <div class="inner-container">
	
    
<div class="subheader"></div>    <div class="container">
        <div class="row">
            <section id="themo_single_post_layout" class="page-title centered" style="padding-top:130px;">
                <h1>Interview With The Owner</h1>            </section>	
         </div>
    </div>
    
    
    <div class='container'><div class='row'>    
    <div class="main col-sm-8 " role="main">    
        
	<section id="themo_single_post_layout_content">
	
	    
        
    <div class="row">
        <div class="col-md-12">
						            <div class="post-137 post type-post status-publish format-standard has-post-thumbnail hentry category-clients category-facial-hair category-the-shop tag-beards tag-the-shop tag-trends">
				        	<img width="750" height="509" src="uploads/sites/7/2015/01/sunset-summer-750x509.jpg" class="img-responsive wp-post-image" alt="sunset-summer" />	<div class="post-inner">

    	<div class="post-meta">Posted by <a href="/" title="Posts by Entrepreneur" rel="author">Entrepreneur</a> <span class="show-date">on <time class="published" datetime="2015-01-10T23:58:38+00:00">January 10, 2015</time></span> <span class="is-sticky">| Featured</span> | <a href="../index.htmlp=137.html#comments">2 Comments</a></div>
	            	<div class="entry-content">
					<p>Phasellus et orci ultrices elit luctus consequat sed et arcu. Mauris sit amet sagittis ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis vel libero quis sodales. Duis varius rutrum consequat. Sed nec metus gravida, fermentum enim sed, hendrerit dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac hendrerit erat.</p>
<blockquote><p>Sed blandit suscipit odio a blandit. Nunc egestas varius eros, sed pretium lorem elementum vulputate.</p></blockquote>
<p>Aliquam erat volutpat. Mauris rutrum odio sapien. Fusce ultrices lacus vel commodo cursus. Pellentesque tortor enim, mollis at accumsan in, faucibus et eros. Donec viverra posuere sem non gravida. Nunc at porttitor eros. Quisque tellus turpis, euismod vitae est ut, consequat dignissim nisi. Suspendisse potenti. Aliquam et ligula lectus. Aliquam erat volutpat. Vestibulum sed diam dapibus, viverra odio in, placerat felis. Phasellus consectetur dapibus vestibulum. Mauris ultrices fringilla lacus, in euismod orci sollicitudin in. Morbi eget rutrum leo. Sed et dui nunc.</p>
                </div>
				<div class="entry-meta meta-tags">Tags: <span class="tag-links"><a href="../tag/beards/index.html" rel="tag">Beards</a>, <a href="../tag/the-shop/index.html" rel="tag">The Shop</a>, <a href="../tag/trends/index.html" rel="tag">Trends</a></span></div>

</div>			</div>
              <section id="comments">
    <h3 class="comments-title">2 Comments</h3>

    <ol class="media-list">
      
  <li id="comment-20" class="comment byuser comment-author-entrepreneur bypostauthor even thread-even depth-1 media comment-20">
    <img alt='' src='http://1.gravatar.com/avatar/4afd1750feb5ec74330222bf2a1dfb8e?s=64&#038;d=mm&#038;r=g' srcset='http://1.gravatar.com/avatar/4afd1750feb5ec74330222bf2a1dfb8e?s=128&amp;d=mm&amp;r=g 2x' class='avatar pull-left media-object avatar-64 photo' height='64' width='64' /><div class="media-body">
  <h4 class="media-heading">entrepreneur</h4>
  <p class="post-meta"><time datetime="2015-02-21T23:59:16+00:00"><a href="../index.htmlp=137.html#comment-20">February 21, 2015</a></time>
  </p>

  
  <p>Thanks for the sound advice.</p>
  
  <div class="comment-reply">
  	<a class='comment-reply-link' href='index.htmlreplytocom=20.html#respond' onclick='return addComment.moveForm( "comment-20", "20", "respond", "137" )' aria-label='Reply to entrepreneur'>Reply</a>  </div>      <ul class="comment byuser comment-author-entrepreneur bypostauthor odd alt thread-odd thread-alt depth-1 media list-unstyled comment-20">
    
  <li id="comment-21" class="comment byuser comment-author-entrepreneur bypostauthor even depth-2 media comment-21">
    <img alt='' src='http://1.gravatar.com/avatar/4afd1750feb5ec74330222bf2a1dfb8e?s=64&#038;d=mm&#038;r=g' srcset='http://1.gravatar.com/avatar/4afd1750feb5ec74330222bf2a1dfb8e?s=128&amp;d=mm&amp;r=g 2x' class='avatar pull-left media-object avatar-64 photo' height='64' width='64' /><div class="media-body">
  <h4 class="media-heading">entrepreneur</h4>
  <p class="post-meta"><time datetime="2015-02-21T23:59:23+00:00"><a href="../index.htmlp=137.html#comment-21">February 21, 2015</a></time>
  </p>

  
  <p>No problem!</p>
  
  <div class="comment-reply">
  	<a class='comment-reply-link' href='index.htmlreplytocom=21.html#respond' onclick='return addComment.moveForm( "comment-21", "21", "respond", "137" )' aria-label='Reply to entrepreneur'>Reply</a>  </div>  </div></li>
</ul></div></li>
    </ol>

    
      </section><!-- /#comments -->




    
						<div id="respond" class="comment-respond">
				<h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="../index.htmlp=137.html#respond" style="display:none;">Cancel Reply</a></small></h3>
									<form action="http://demo.themovation.com/entrepreneur/barber/wp-comments-post.php" method="post" id="commentform" class="comment-form">
																			<p class="comment-info">Your email address will not be published. Required fields are marked *</p>							<div class="form-group"><label for="author">Name *</label> <input type="text" class="form-control" name="author"  id="author" value="" size="22" aria-required='true' /></div>
<div class="form-group"><label for="email">Email *</label> <input type="text" class="form-control" name="email" id="email" value="" size="22" aria-required='true' /></div>
<div class="form-group"><label for="url">Website</label><input type="text"  class="form-control" name="url" id="url"  value="" size="22" /></div>
												<div class="form-group"><label for="comment">Comment</label><textarea name="comment" id="comment" class="form-control" rows="8" aria-required="true"></textarea></div>						<p class="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code></p>
						<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit Comment" /> <input type='hidden' name='comment_post_ID' value='137' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="8512c8ed8c" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="223"/></p>					</form>
							</div><!-- #respond -->
			  
        		
     </div><!-- /.col-md-12 -->                  	
    </div><!-- /.row -->

			</section>

	</div><!-- /.main -->    
        <aside class="sidebar side-right col-sm-4 " role="complementary">
	<section class="widget search-2 widget_search"><div class="widget-inner"><form role="search" method="get" class="search-form form-inline" action="../../barber.1.html">
  <div class="input-group">
    <input type="search" value="" name="s" class="search-field form-control" placeholder="Search Barber">
    <label class="hide">Search for:</label>
    <span class="input-group-btn">
      <button type="submit" class="search-submit btn btn-default">Search</button>
    </span>
  </div>
</form></div></section><section class="widget booked_calendar-2 widget_booked_calendar">
<div class="widget-inner">
<h3 class="widget-title">Book an Appointment</h3>
<div class="booked-calendar-shortcode-wrap">
<div id="data-ajax-url">http://demo.themovation.com/entrepreneur/barber/</div>
<div class="booked-calendar-wrap small" style="height: 309px;" data-default="2016-09-01">
<table class="booked-calendar" data-calendar-date="2016-09-01">
<thead>
<tr>
<th colspan="7">
<span class="calendarSavingState">
<i class="fa fa-refresh fa-spin"></i>
</span>
<span class="monthName"> September 2016 </span>
<a class="page-right" data-goto="2016-10-01" href="#">
<i class="fa fa-arrow-right"></i>
</a>
</th>
</tr>
<tr class="days">
<th>Sun</th>
<th>Mon</th>
<th>Tue</th>
<th>Wed</th>
<th>Thu</th>
<th>Fri</th>
<th>Sat</th>
</tr>
</thead>
<tbody>
<tr class="week">
<td class="prev-month prev-date" data-date="2016-08-28" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">28</span>
</span>
</td>
<td class="prev-month prev-date" data-date="2016-08-29" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">29</span>
</span>
</td>
<td class="prev-month prev-date" data-date="2016-08-30" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">30</span>
</span>
</td>
<td class="prev-month prev-date" data-date="2016-08-31" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">31</span>
</span>
</td>
<td class="prev-date" data-date="2016-09-1" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">1</span>
</span>
</td>
<td class="prev-date" data-date="2016-09-2" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">2</span>
</span>
</td>
<td class="prev-date" data-date="2016-09-3" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">3</span>
</span>
</td>
</tr>
<tr class="week">
<td class="prev-date" data-date="2016-09-4" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">4</span>
</span>
</td>
<td class="today prev-date" data-date="2016-09-5" style="height: 49px;">
<span class="date" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">5</span>
</span>
</td>
<td class="" data-date="2016-09-6" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">6</span>
</span>
</td>
<td class="" data-date="2016-09-7" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">7</span>
</span>
</td>
<td class="" data-date="2016-09-8" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">8</span>
</span>
</td>
<td class="" data-date="2016-09-9" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">9</span>
</span>
</td>
<td class="" data-date="2016-09-10" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">10</span>
</span>
</td>
</tr>
<tr class="week">
<td class="" data-date="2016-09-11" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">11</span>
</span>
</td>
<td class="" data-date="2016-09-12" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">12</span>
</span>
</td>
<td class="" data-date="2016-09-13" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">13</span>
</span>
</td>
<td class="" data-date="2016-09-14" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">14</span>
</span>
</td>
<td class="" data-date="2016-09-15" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">15</span>
</span>
</td>
<td class="" data-date="2016-09-16" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">16</span>
</span>
</td>
<td class="" data-date="2016-09-17" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">17</span>
</span>
</td>
</tr>
<tr class="week">
<td class="" data-date="2016-09-18" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">18</span>
</span>
</td>
<td class="" data-date="2016-09-19" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">19</span>
</span>
</td>
<td class="" data-date="2016-09-20" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">20</span>
</span>
</td>
<td class="" data-date="2016-09-21" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">21</span>
</span>
</td>
<td class="" data-date="2016-09-22" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">22</span>
</span>
</td>
<td class="" data-date="2016-09-23" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">23</span>
</span>
</td>
<td class="" data-date="2016-09-24" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">24</span>
</span>
</td>
</tr>
<tr class="week">
<td class="" data-date="2016-09-25" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">25</span>
</span>
</td>
<td class="" data-date="2016-09-26" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">26</span>
</span>
</td>
<td class="" data-date="2016-09-27" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">27</span>
</span>
</td>
<td class="" data-date="2016-09-28" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">28</span>
</span>
</td>
<td class="" data-date="2016-09-29" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">29</span>
</span>
</td>
<td class="" data-date="2016-09-30" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">30</span>
</span>
</td>
<td class="next-month" data-date="2016-10-1" style="height: 49px;">
<span class="date tooltipster tooltipstered" style="line-height: 48px;">
<span class="number" style="line-height: 48px;">1</span>
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</section>		<section class="widget recent-posts-2 widget_recent_entries"><div class="widget-inner">		<h3 class="widget-title">Recent Posts</h3>		<ul>
					<li>
				<a href="../index.htmlp=118.html">The Barbershop Experience</a>
						</li>
					<li>
				<a href="../index.htmlp=132.html">Mens&#8217; Hairstyle Trends for 2016</a>
						</li>
					<li>
				<a href="../index.htmlp=135.html">Getting The Perfect Shave</a>
						</li>
					<li>
				<a href="../index.htmlp=116.html">Facial Hair Trends</a>
						</li>
					<li>
				<a href="../index.htmlp=124.html">Popular Shaving Products Reviewed</a>
						</li>
				</ul>
		</div></section>
        		<section class="widget widget-social">
    		<div class="widget-inner">
        		                <h3 class="widget-title">Connect With Us</h3>
                        			<div class="soc-widget">
        			<a target='_blank' href='https://www.facebook.com/themovation'><i class='soc-icon social social-facebook'></i></a><a target='_blank' href='http://twitter.com/themovation'><i class='soc-icon social social-twitter'></i></a><a target='_blank' href='../index.htmlp=137.html#'><i class='soc-icon social social-instagram'></i></a>           			</div>
    			</div>
		</section>
        
		    </aside><!-- /.sidebar -->
               
    
    </div><!-- /.container --></div><!-- /.row --></div><!-- /.inner-container -->    
    </div><!-- /.content -->
  </div><!-- /.wrap -->

  
<div class="prefooter"></div>

