
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <% meta_title = title; %>
        <% meta_description = description; %>
        <% meta_keywords = keywords; %>

        <%- partial('partials/head') %>
    </head>
    <!-- END HEAD -->

    <body class="home page page-id-393 page-template-default  _masterslider _msp_version_2.29.0">
        <%- partial('partials/header') %>

        <div class="content">
            <%- body %>
        </div>
        <%- partial('partials/footer') %>
        <%- partial('partials/script') %>
    </body>
</html>