<div class="booked-form booked-scrollable">
          <form action="" method="post" id="newAppointmentForm" data-calendar-id="0">
              <input type="hidden" name="date" value="2016-09-9" />
              <input type="hidden" name="timestamp" value="1473438600" />
              <input type="hidden" name="timeslot" value="1630-1715" />
              <input type="hidden" name="customer_type" value="current" />
              <input type="hidden" name="action" value="booked_add_appt" />
              <input type="hidden" name="calendar_id" value="0" /><p>You are about to request an appointment for fan sha. Please confirm that you would like to request the following appointment:</p>
                <p class="name"><b><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;&nbsp;September 9, 2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><b><i class="fa fa-clock-o"></i>&nbsp;&nbsp;4:30 pm &ndash; 5:15 pm</b></p>    
          
                <input type="hidden" name="user_id" value="4933" />
                <div class="cf-block">  <div class="field field-paid-service">
                    <label class="field-label">Choose a Service</label>
                    <input type="hidden" name="paid-service-label---1768712" />
                    <select name="paid-service-label---1768712">
                      <option value="">Select a Product</option>
                    <option value="1243">&#036;35 - Standard Cut</option>
                    <option value="1244">&#036;20 - Beard Trim</option>
                    <option value="1245">&#036;45 - Hot Lather Shave</option>
                    </select>
                    <div class="paid-variations"></div>
                  </div>
                </div>          
                <div class="field">
                  <p class="status"></p>
                </div>
              
                <div class="field">
                  <input type="submit" id="submit-request-appointment" class="button button-primary" value="Request Appointment">
                    <button class="cancel button">Cancel</button>
                </div>
            </form>
        </div>
        <p class="booked-title-bar"><small>Request an Appointment</small></p>
        <a href="#" class="close"><i class="fa fa-remove"></i></a>